DATABASE_URL=postgresql://foodhub:foodhub123@localhost:5432/foodhub?schema=public
LOG_QUERIES=false
REDIS_URL=redis


NODE_ENV=development
APP_NAME=foodhub
PORT=3000
GLOBAL_PREFIX=api
SEND_INTERNAL_SERVER_ERROR_DETAILS=false

SWAGGER_ENABLED=true
SWAGGER_PATH=api/docs

JWT_ACCESS_SECRET=3d559d6fa6d9a5a00ecb9d581ac93574d6387023a500c4d9d78920fdb1d998722bc3d0e1f57c01bc9aecc70cd12310a8
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=a94af5c04cbf0a79ec7cd60bdc57e988d3b0de34cb25e691f7b3202fbafc1867d2d083a622e862cf6c1abc36f7e552b9
JWT_REFRESH_EXPIRES_IN=30d