DATABASE_URL=postgresql://foodhub:foodhub123@localhost:5432/foodhub?schema=public
LOG_QUERIES=false

NODE_ENV=development
APP_NAME=foodhub
PORT=3000
GLOBAL_PREFIX=api
SEND_INTERNAL_SERVER_ERROR_DETAILS=false

SWAGGER_ENABLED=true
SWAGGER_PATH=api/docs